.content-list {
  display: flex;
  overflow: auto;
}

.item-pizza {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #d4d4d4;
  margin: 5px;
}

.item-pizza:hover {
  cursor: pointer;
}

.item-pizza img {
  width: 100px;
}

.pizzas-list {
  border-right: 1px solid #d4d4d4;
}
