.content-input {
  display: flex;
  flex-flow: column;
  text-align: left;
  margin-bottom: 10px;
}

.detail-item-pizza {
  padding: 10px;
  display: flex;
  align-items: center;
  margin-left: 13em;
  flex-direction: column;
}

.flex-center {
  display: flex;
  align-items: center;
}
